<h1>Secret Posts</h1>

<div class="row">
 <div class="col-md-6 col-md-offset-3">
<ul class="post">
<% @posts.each do |post| %>

<li>Title: <%= post.title %> <br>
 Body: <%= post.body %> <br>
    <% if current_user %>
Author: <%= post.user.name %>
    <% else %>
Author: Anonymous
</li>

    <% end %>

<% end %>
    
</ul>
</div>
</div>

